.navigationbar {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
}

.navigationbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.navigationbar .leftSide img {
  width: 70px;
}

.navigationbar .rightSide {
  flex: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navigationbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navigationbar .rightSide svg {
  font-size: 40px;
}
